/* ----- all content -----*/
* {
    box-sizing: border-box;
}
html {
    /* set full background color */
     background: #565d6f;
}
header, main, footer {
    /* set background color & rounded corners with margins and padding to visually separate these parts*/
    background: #daddad;
    margin: 20px;
    border-radius: 25px;
    padding: 20px;
    color: #353a47;
    font-size: 27px;
}
hr {
    /* style horizontal rulers */
    height: 5px;
    background-color: #eb8c8c;
    border: 4px solid #eb8c8c;
    border-radius: 5px;
}
/* ----- header content -----*/
header {
    text-align: center;
}
.portrait {
    width: 269px;
    border-radius: 50%;
    transition: transform .2s;
    margin-top: 50px;
}
.portrait:hover {
    /* pic expands to 1.5 of original size when the mouse hovers over it */
    transform: scale(1.5);
}
header h1 {
    /* margin negative to bring this line of text closer to the one below */
    font-family: 'Permanent Marker', cursive;
    font-size: 73px;
    margin-bottom: -50px; 
}
header h2 {
    font-size: 31px;
    font-variant: small-caps;
}
/* ----- main content -----*/
main {
    text-align: center;
}
h3 {
    text-decoration: underline;
    text-decoration-color: #456362;
}
main p {
    margin: auto;
    font-size: 24px
}
.main-line {
    margin-bottom: -47px;
}
h4 {
    font-variant: small-caps;
}
ol, ul {
    margin-top: -20px;
}
li {
    list-style: none;
}
em {
    font-size: 22px;
}
a {
    text-decoration: none;
    color: #e0c7c7;
    font-size: 27px;
    font-weight: 700;
    margin-top: 0px;
    padding-top: 0px;
    background: #242830;
    border-radius: 10px;
    padding: 17px;
}
a:hover {
    /* flop colors while hovering mouse over a link*/
    color: #242830;
    background: #e0c7c7;
}
ul li {
    margin: 33px 0;
}
ol li {
    font-variant: small-caps;
}
.fab {
    font-size: 35px;
}
/* ----- footer content -----*/
footer {
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    font-size: 17px;
    font-variant: small-caps;
}
